<VirtualHost *:80>

ServerName {{nome_virtualhost}}

DocumentRoot /var/www/{{wordpress_dir}}

ProxyPreserveHost   On
RewriteEngine       On
ProxyRequests off
#LogLevel debug

ErrorLog  logs/{{wordpress_dir}}_error_ssl_log
CustomLog logs/{{wordpress_dir}}_access_ssl_log common
CustomLog logs/{{wordpress_dir}}_access_ssl_xfor_log proxy

      <Directory /var/www/{{wordpress_dir}}>
          Options +Indexes +FollowSymLinks +ExecCGI
          AllowOverride All
          Order deny,allow
          Allow from all
          Require all granted
      </Directory>

</VirtualHost>


<VirtualHost *:443>

ServerName {{nome_virtualhost}}

DocumentRoot /var/www/{{wordpress_dir}}

SSLEngine on
SSLProxyEngine on
SSLProtocol All -SSLv2 -SSLv3
SSLCertificateFile /etc/httpd/ssl/{{nome_certificato}}.crt
SSLCertificateChainFile /etc/httpd/ssl/chain.crt
SSLCertificateKeyFile /etc/httpd/ssl/{{nome_certificato}}.key

SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:!ECDHE-RSA-AES128-SHA:DHE-RSA-AES128-GCM-SHA256:AES256+EDH:!ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:!ECDHE-RSA-AES256-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:!ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4
SSLHonorCipherOrder on

ErrorLog  logs/{{wordpress_dir}}_error_ssl_log
CustomLog logs/{{wordpress_dir}}_access_ssl_log common
CustomLog logs/{{wordpress_dir}}_access_ssl_xfor_log proxy
    
RewriteEngine on

      <Directory /var/www/{{wordpress_dir}}>
          Options +Indexes +FollowSymLinks +ExecCGI
          AllowOverride All
          Order deny,allow
          Allow from all
          Require all granted
      </Directory>

</VirtualHost>
